{% extends "base.html" %}
 
{% block content %}
<section class="posts">
    {% for post in post_list %}
        <article class="post">
            <h4 class="post-cat">
		<a href="{% url 'search_cat' cat=post.category %}">{{ post.category }}</a>
            </h4>
            <h1 class="post-title">{{ post.title }}</h1>
            <ul class="post-date">
                <li>
                    {{ post.authors }}
                </li>
                <li>
                    {{ post.pub_date |date:'M d D, Y'}}
                </li>
            </ul>

            <div class="post-content">
                <p>
                    {{ post.content|safe|truncatechars_html:500 }}
                </p>
		<a class="more-link" href="{% url 'blog_detail' id=post.id %}">Read more >>> </a>
            </div>
        </article>
    {% endfor %}<!-- /.blog-home -->

    {% if not page_range|length_is:"1" %}
        <nav class="pagina">
            <ul>
                {% if post_list.has_previous %}
                <li><a href="?p={{ post_list.previous_page_number }}">previous</a></li>
                {% endif %}

                {% for page in page_range %}
                    {% if page == post_list.number or page == '...' %}
                <li><span>{{ page }}</span></li>
                    {% else %}
                <li><a class="page" href="?p={{ page }}">{{ page }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if post_list.has_next %}
                <li><a href="?p={{ post_list.next_page_number }}">next</a></li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
</section>
{% endblock %}

{% block js %}
{% endblock %}
