{% extends "base.html" %}
 
{% block content %}
<section class="posts">
    {% for post in post_list %}
        <article class="post">
            <h4 class="post-cat">
		<a href="{% url 'search_cat' cat=post.category %}">{{ post.category }}</a>
            </h4>
            <h1 class="post-title">{{ post.title }}</h1>
            <ul class="post-date">
                <li>
                    {{ post.authors }}
                </li>
                <li>
                    {{ post.pub_date |date:'M d D, Y'}}
                </li>
            </ul>

            <div class="post-content">
                <p>
                    {{ post.content|safe }}
                </p>
		<a class="more-link" href="{% url 'blog_detail' id=post.id %}">Read more >>> </a>
            </div>
        </article>
    {% endfor %}<!-- /.blog-home -->
</section>
{% endblock %}

