{% extends "base.html" %}
 
{% block content %}
<article class="post">
    <h4 class="post-cat">
	<a href="{% url 'search_cat' cat=post.category %}">{{ post.category }}</a>
    </h4>
    <h1 class="post-title">{{ post.title }}</h1>
    <ul class="post-date">
        <li>
            {{ post.pub_date |date:'M. d D, Y'}}
        </li>
        <li>
            {{ post.authors }}
        </li>
    </ul>

    <div class="post-content">
        <p>
            {{ post.content|safe }}
        </p>
    </div>
</article><!-- /.blog-post -->

<article class="post">
    <h4 class="post-title">Guys Comments</h4>
    {% for crit in post_crit %}
        <ul class="post-date">
            <li><a href="#">
                <img src="{{ crit.portrait.url }}" />
            </a></li>
            <li>
                {{ crit.pub_date |date:'M. d D, Y'}}
            </li>
            <li>
                {{ crit.critic }}
            </li>
        </ul>

        <div class="post-content">
            <p>
                {{ crit.content|safe }}
            </p>
        </div>
    {% endfor %}
</article><!-- /.blog-post -->
{% endblock %}
